// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-delete {
  position: absolute;
  top: 5px;
  right: 25px;
}

.img-thumbnail {
  width: 100%;
}

.carousel-indicators li{
  font-size: 16px;
  height: auto;
  width: 3em;
  border: none;
}

.carousel-indicators {
  margin-bottom: -3em;
}

.carousel-inner {
  height: 500px;
  background-color: #000;
  overflow: hidden;
}
